<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <h1>URL Shortner</h1>
    <% if (locals.id) { %>
     <p>URL Generated : http://localhost:8001/<%= id %></p>
    <% } %>
    <form method="POST" action="/url">
        <label for="">Enter Your Original Url</label>
        <input type="text" placeholder="https://example.com/" name="url">
        <button type="submit">Generate</button>
    </form>
</body>

</html>